body {
  font-family: 'Didact Gothic', sans-serif;
}

h3 {
  display: inline-block;
  padding-right: 10px;
}

#question-box-id {
  border: 1px solid black;
  margin: 5px;
  font-size: 3rem;
}

.word-container {
  display: inline-block;
  border: 1px solid orange;
  margin: 3px 6px;
  padding: 3px 6px;
  height: auto;
}

.sentence-word {
  margin: 5px;
}


.over {
  background-color: lightsteelblue;
}

.right {
  color: #3ae374;
}

.wrong {
  color: #ff3838;
}
